:root {
  --page-blue: #0047AB;
}

body, html {
  font-family: 'Roboto', sans-serif;
}

.box-container {
  padding: 15px;
  height: auto;
  background: #ffffff;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

ul {
  list-style: none; /* Remove default bullets */
}

h2 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--page-blue); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.resume-wrapper {
  width: 100%;
  margin: 0 auto;
}

.header-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--page-blue);
  color: white;
  padding: 20px;
  border-radius: 4px 4px 0 0;
}

.bottom-color-border:after {
  display: block;
  width: 20%;
  height: 3px;
  margin-top: 5px;
  background: var(--page-blue);
  content: "";
}

.left-color-border {
  border-left: 4px solid var(--page-blue);
  padding-left: 10px
}

.left-header {
  text-align: left;
}

.left-header h2 {
  font-weight: 900;
  font-size: 38px;
}

.left-header span {
  font-size: 24px;
}

.right-header span {
  font-size: 20px;
  display: block;
  padding: 2px;
  text-align: right;
}

.profile-part p {
  line-height: 36px;
  font-size: 24px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.education-skills-content, .education-skills-heading {
  display: flex;
  justify-content: space-between;
}

.education-skills-heading h2 {
  width: 45%;
  padding: 0 10px;
}

.education-part, .skill-part {
  width: 45%;
}

.education-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.education-part h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.education-part span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 26px;
}

.skill-part h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}

.skill-part span {
  display: block;
  font-weight: 400;
  margin-left: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.work-exp-container {
  margin-top: 30px;
}

.works-header {
  background-color: var(--page-blue);
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.works-header h3 {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 22px;
  font-weight: 700;
}

.works-header span {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 20px;
}

.work-content {
  background-color: #f5f5f5;
  padding: 10px;
}

.work-content h3 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 4px;
  padding-top: 14px;
  padding-left: 10px;
}
.work-content ul li, span, .awards ul li, .hobbies ul li {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.block {
  display: block;
}

.ml-30 {
  margin-left: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.personal-works ul li {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}